{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <h1>{{ recipe.title }}</h1>
    <p>{{ recipe.ingredients }}</p>
    <p>{{ recipe.steps }}</p>
    <p>{{ recipe.tags }}</p>
    <p>{{ recipe.is_public }}</p>
    <p>{{ recipe.likes.count }}</p>
    {% if user.is_authenticated and not user == recipe.user %}
    <form method="post" action="{% url 'like_recipe' recipe_id=recipe.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Like</button>
    </form>
    {% endif %}
    <div class="image-container">
        {% if "placeholder" in recipe.photo.url %}
            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
        {% else %}
            <img class="card-img-top" src="{{ recipe.photo.url }}" alt="{{ recipe.title }}">
        {% endif %}
    </div>

    {% if request.user == recipe.user %}
    <a href="{% url 'update_recipe' recipe_id=recipe.id %}" class="btn btn-primary">Edit Recipe</a>
    <form action="{% url 'delete_recipe' recipe_id=recipe.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete Recipe</button>
    </form>
    {% endif %} 
{% endblock %}

