{% extends 'base.html' %}
{% load static %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<div class="section" id="image-description-section">
    <div class="toggle-header" onclick="toggleSection('image-description')">
        <h1>{{ recipe.title }}</h1>
    </div>
    <div class="toggle-content" id="image-description">
        <div class="image-description-container">
            <div class="image-container-detail">
                {% if "placeholder" in recipe.photo.url %}
                <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src="{{ recipe.photo.url }}" alt="{{ recipe.title }}">
                {% endif %}
            </div>
            <div class="description m-3">
                <h5>Description:</h5>
                <p>{{ recipe.description | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="section" id="ingredients-section">
    <div class="toggle-header" onclick="toggleSection('ingredients')">
        <h3>Ingredients</h3>
    </div>
    <div class="toggle-content" id="ingredients">
        <p class="m-3">{{ recipe.ingredients | safe }}</p>
    </div>
</div>

<div class="section" id="steps-section">
    <div class="toggle-header" onclick="toggleSection('steps')">
        <h3>Steps</h3>
    </div>
    <div class="toggle-content" id="steps">
        <p class="m-3">{{ recipe.steps | safe }}</p>
    </div>
</div>

<div class="section" id="like-comment-section">
    <div class="toggle-header" onclick="toggleSection('like-comment')">
        <h5>Likes & Comments</h5>
    </div>
    <div class="toggle-content" id="like-comment">
        <div class="row justify-content-center">
            <div class="col-md">
                <form method="post" action="{% url 'add_comment' recipe_id=recipe.id %}">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <button class="btn btn-secondary m-1" type="submit">Submit</button>
                </form>
                {% if user.is_authenticated and user != recipe.user %}
                <div class="row justify-content-center">
                    <div class="col-md">
                        <form method="post" action="{% url 'like_recipe' recipe_id=recipe.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary m-1">Like {{ recipe.likes.count }}</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="comments m-3">
                    {% for comment in comments %}
                    <p>{{ comment.user.username }}: {{ comment.text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md">
        {% if user.is_authenticated %}
            {% if user != recipe.user %}
                {% if not is_saved %}
                    <form method="post" action="{% url 'save_to_cookbook' recipe_id=recipe.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Save to Cookbook</button>
                    </form>
                {% else %}
                    <form method="post" action="{% url 'unsave_from_cookbook' recipe_id=recipe.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger m-2">Remove from Cookbook</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
</div>

<section class="m-5">
    {% if request.user == recipe.user %}
        <a href="{% url 'update_recipe' recipe_id=recipe.id %}" class="btn btn-primary">Edit Recipe</a>
        <form action="{% url 'delete_recipe' recipe_id=recipe.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete Recipe</button>
        </form>
    {% endif %}
</section>
{% endblock %}
