{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Recipe List{% endblock %}

{% block content %}
    <h1 class="mb-3 mt-5">Recipes</h1>

    <div class="section">
        <div class="toggle-header" onclick="toggleFilterSection()">
            <h3>Filter</h3>
            <i class="fa-solid fa-sort"></i>
        </div>
        <div class="toggle-content" id="filter-content" style="display: none;">
            <div class="filter-section m-3">
                <form method="get">
                    <button class="btn btn-secondary btn-sm m-1" type="submit" name="sort_order" value="newest">Newest First</button>
                    <button class="btn btn-secondary btn-sm m-1" type="submit" name="sort_order" value="likes">Most Likes</button>
                    {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
                        <button class="btn btn-secondary btn-sm m-1" type="submit" name="letter" value="{{ letter }}">{{ letter }}</button>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>

   

    <div class="row gx-4 gx-lg-5">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="image-container">
                        {% if "placeholder" in recipe.photo.url %}
                            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                            <img class="card-img-top" src="{{ recipe.photo.url }}" alt="{{ recipe.title }}">
                        {% endif %}
                        <div class="image-flash"></div>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">{{ recipe.title }}</h2>
                        <p class="card-text">{{ recipe.description | safe }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{% url 'recipe_detail' recipe.id %}">More Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}
