{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to the Recipe App</h1>
    <p>Here you can find and share your favorite recipes.</p>

    <h2>Featured Recipes</h2>
    <div class="row gx-4 gx-lg-5">
        {% for recipe in recipes %}
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    {% if recipe.photo %}
                        <img src="{{ recipe.photo.url }}" class="card-img-top" alt="Recipe Photo">
                    {% endif %}
                    <div class="card-body">
                        <h2 class="card-title">{{ recipe.title }}</h2>
                        <p class="card-text">{{ recipe.ingredients }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-primary btn-sm" href="{% url 'recipe_detail' recipe.id %}">More Info</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}