{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ login_form.username.errors }}
        <label for="id_username">Username:</label>
        {{ form.username }}
        <br>
        {{ form.password.errors }}
        <label for="id_password">Password:</label>
        {{ form.password }}
        <br>
        <button type="submit">Log in</button>
    </form>

    <button>
        <a href="{% url 'register' %}">Register</a>
    </button>

{% endblock %}