{% extends 'base.html' %}
{% load cloudinary %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="mb-3 mt-5">Your cookbook online!</h1>

<!-- Benefit 1/5 -->
<section class="m-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="rounded-circle img-container" style="width: 400px; height: auto;">
                <img src="{% static 'images/food.jpg' %}" class="rounded-circle img-fluid" alt="Keep recipes in one place image">
            </div>
        </div>
        <div class="col-lg-8 d-flex align-items-center">
            <div class="container-pro">
                <h2>Keep all your recipes in one place</h2>
                <p>Foorky is your ultimate culinary companion, offering a seamless solution for storing all your
                    favorite recipes in one convenient location. Say goodbye to scattered recipe cards and cumbersome
                    cookbooks – with our app, you can effortlessly organize your recipes and access them anytime,
                    anywhere.</p>
            </div>
        </div>
    </div>
</section>

<!-- Benefit 2/5 -->
<section class="m-5">
    <div class="row">
        <div class="col-lg-8 d-flex align-items-center">
            <div class="container-pro">
                <h2>For professional kitchen</h2>
                <p>Foorky provides a centralized platform for culinary professionals to efficiently manage their
                    recipes. Chefs can seamlessly access their recipes, saving time and boosting productivity. Whether
                    you're a seasoned chef or an amateur cook, this app fosters culinary creativity and excellence.
                    Foorky is an excellent webpage for storing restaurant recipes, allowing multiple chefs easy access
                    to them.</p>
            </div>
        </div>
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="rounded-circle img-container" style="width: 400px; height: auto;">
                <img src="{% static 'images/professional.jpg' %}" class="rounded-circle img-fluid" alt="Professional kitchen Image">
            </div>
        </div>
    </div>
</section>

<!-- Benefit 3/5 -->
<section class="m-5">
    <div class="row">
        <div class="col-lg-4 d-flex justify-content-center align-items-center">
            <div class="rounded-circle img-container" style="width: 400px; height: auto;">
                <img src="{% static 'images/market.jpg' %}" class="rounded-circle img-fluid" alt="Organized Image">
            </div>
        </div>
        <div class="col-lg-8 d-flex align-items-center">
            <div class="container-pro">
                <h2>Get organized</h2>
                <p>Stay focused and organized during cooking sessions with the Foorky's toggling feature. By toggling
                    away unnecessary sections, users can maintain a clutter-free workspace and concentrate on the recipe
                    at hand. Whether tackling complex dishes or quick meals, this feature ensures efficient and
                    distraction-free cooking, allowing users to cook with confidence and ease.</p>
            </div>
        </div>
    </div>
</section>

<section>
    <!-- Login Card -->
        <div class="container my-5">
            <div class="card">
                <div class="card-body rounded bg-dark px-5">
                    <h2 class="card-title text-white">Login</h2>
                    <p class="card-text text-white">Please enter your login and password!</p>
                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class="form-group text-white mr-2">
                            <label for="{{ form.username.id_for_label }}">Username:</label>
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.username.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group text-white mr-2 mt-3 mb-3">
                            <label for="{{ form.password.id_for_label }}">Password:</label>
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="alert alert-danger">
                                    {% for error in form.password.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                    <div class="text-white mt-3">
                        <p>Don't have an account? <a class="text-white" href="{% url 'register' %}">Register</a></p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}

<!-- Bootstrap core JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>